html,
body {
  height: 100%;
  background-color: white !important;
  font: 300 14px/1.5 'Oxygen', sans-serif;
}
.btn-info {
  margin-left: 90%;
  align-items: center;
  padding-left: 10px;
}

.jdl span {
  color: #ffae00;
  display: block;
}
.table-responsive {
  margin: 30px 0;
}

b {
  font-family: sans-serif;
  font-size: 15px;
}
.text-center {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.jdl form{
  background-color: whitesmoke;
}

/* versi hp */
@media screen and (max-width: 991.98px) {
  .d-flex {
    margin-left: 20px;
  }
  .button-export {
    padding-top: 1rem;
  }
  a.btn.btn-dark {
    padding: 4px 4px 4px 4px;
    margin-right: -3rem;
  }
}
@media screen and (max-width: 786px) {
  .d-flex {
    margin-right: 6px;
  }

  a.btn.btn-success {
    padding: 5px 0px 5px 0px;
  }
  a.btn.btn-danger {
    padding: 5px 0px 5px 0px;
  }
  a.btn.btn-warning {
    padding: 5px 0px 5px 0px;
  }
  .bg-secondary {
    padding-left: 200px;
  }
  .button-export {
    padding-top: 1rem;
  }
  a.btn.btn-dark {
    margin-left: 19rem;
  }
}
